.contact-card {
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  border-color: black;
  max-width: 320px;
  
  .contact-card-heading {
    text-align: center;
    background: url('/assets/images/bg-red-locations.jpg');
    padding: 2px 15px 6px 15px;

    h3 {
      color: $d1-white;
      text-shadow: none;
    }
    h6 {
      color: $d1-grey-lighter;
    }
  }

  .contact-card-body {
    padding: 10px;
    text-align: left;

    .row {
      padding: 5px 0px;
    }
  }

  .contact-card-footer .btn-primary {
    background-color: $d1-red-darker;
  }
}
