{{#content-container}}
  <div class="rules">
    {{rules/rules-facility}}<br>
    {{rules/rules-guidelines}}<br>
    {{rules/rules-league-player}}<br>
    {{rules/rules-game}}<br><br>
  </div>
{{/content-container}}
