.homepage {
  .floating-text {
    margin-top: 375px;
    margin-left: 45%;
    height: 140px;

    h2 {
      font-weight: 400;
      color: $d1-grey;
      font-size: 34px;
      position: fixed;
      z-index: -1;
    }
  }

  .section {
    background-color: $d1-grey-lightest;
    opacity: 0.95;
    padding: 15px;

    .content {
      max-width: 800px;
      min-width: 200px;
      margin: auto;
    }
  }

  @media (max-width: 768px) {
    .subheader {
      margin-left: 0px;
    }
  }
}
