//variables
$d1-red: #d21034;
$d1-red-darker: #851a24;
$d1-white: white;
$d1-grey: #929497;
$d1-grey-lighter: #d0cfd2;
$d1-grey-lightest: #eeedf1;

$bs-sm: 576px;
$bs-md: 768px;
$bs-lg: 992px;
$bs-xl: 1200px;

//imports
@import "ember-bootstrap/bootstrap";
@import "ember-photoswipe";
@import 'index';
@import 'header-footer';
@import 'login';
@import 'components/contact-card';

//fonts
@font-face {
	font-family: 'Oswald';
	src: url('/assets/fonts/Oswald-Light.eot');
	src: url('/assets/fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Oswald-Light.woff2') format('woff2'),
		url('/assets/fonts/Oswald-Light.woff') format('woff'),
		url('/assets/fonts/Oswald-Light.ttf') format('truetype'),
		url('/assets/fonts/Oswald-Light.svg#Oswald-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
.oswald {
  color: $d1-white !important;
  font-family: Oswald;
  font-size: 21px;
  letter-spacing: 2px;

  a {
    color: $d1-white;
    text-decoration: none;
  }
}
.upper {
  text-transform: uppercase;
}

//elements
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background-color: transparent; //clear styling from other CSS files
  color: #5a5a5a;
  font-size: 16px;
  font-family: sans-serif;
  -webkit-text-stroke: 1px transparent;
}
a {
  color: $d1-red;
}
h1, h2, h3, .h1, .h2, .h3 {  
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}
h4, h5, h6, .h4, .h5, .h6 {  
  margin-top: 10px;
  margin-bottom: 10px;
}
h6, .h6 {
  font-size: 12px;
}
.main-bg {
  background: url('/assets/images/d1field.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.page-bg {
  background: url('/assets/images/bg-maincontent.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.dark-bg {
  background: #000 url('/assets/images/bg-blackpaper.png') repeat scroll 0 0;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}
.content-container {
  padding: 0 30px;
  padding-top: 40px;
  min-height: calc(100vh - 211px); //ensures footer is always on bottom

  
  @media (max-width: 1280px) { //header is now 2 rows
    min-height: calc(100vh - 268px);

    @media (max-width: $bs-md) { // back to 1 (smaller) row
      min-height: calc(100vh - 203px);
    }
  }
}
.secure-wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
}
.secure-content {
  width: 100%;
}
.center-container {
  width: 100%;
  text-align: center;
  padding: 10px;
}

//global styles
.shadow-top {
  box-shadow: 0 -1rem 3rem rgba(0, 0, 0, 0.35);
  margin-top: 3rem;
}
.shadow-bottom {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.35);
  margin-bottom: 3rem;
}
.full-width {
  width: 100%;
}
.nowrap {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.top-5 {
  padding-top: 5px;
}

//?
.ember-cli-g-map {
  height: 400px;
}
