{
  "ConnectionStrings": {
    "D1SoccerServiceContext": "your connection string"
  },
  "Secrets": {
    "JWT": "32 char string used for hashing"
  },
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Warning"
    }
  }
}

